/* css font rules
font-family: 'Amatic SC', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  margin: 0;
  overflow-x: hidden;
}

.top_bar h1 {
  margin: 0px;
  position: absolute;
}

.top_bar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: relative;
  bottom: 16px;
}

.navbar {
  text-align: right;
  line-height: 100px;
}

.navbar h4 {
  position: relative;
  bottom: 96px;
  float: left;
  color: white;
  font-size: 60px;
  padding-left: 115px;
  font-family: "Mulish", sans-serif;
  letter-spacing: 10px;
}

/* .nav-items {
} */

.nav_links {
  display: inline;
  margin: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.nav_links a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.nav_links a:hover {
  color: #efe6dd;
  opacity: 1;
}

.nav_links:last-child {
  margin-right: 55px;
}

.nav_icon {
  color: white;
  position: relative;
  bottom: 105px;
  font-size: 44px;
  right: 295px;
}

/* end nav */

/* begin hero banner */

.hero-image {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.651),
      rgba(255, 255, 255, 0.404)
    ),
    url("/img/moped.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;
  bottom: 16px;
}

.hero-txt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 110px;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
  font-family: "Amatic SC", cursive;
}

/* end hero banner */

/* begin feature section */
.feature_title_box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature_icon {
  font-size: 50px;
}

.feature_heading {
  font-size: 50px;
  font-family: "Mulish", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

.blog_features {
  display: flex;
  justify-content: center;
  margin: 0;
}

.feature_box {
  padding-bottom: 20px;
  width: 25%;
  border: rgb(160, 160, 160) solid 1px;
  display: inline-block;
  margin: 0px 15px 0px 15px;
  text-align: center;
  position: relative;
}

.feature_box:hover {
  border: black solid 1px;
  opacity: 1;
}

.feature_img {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.feature_box a {
  text-decoration: none;
  text-align: center;
  color: #243a18bb;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.feature_box a:hover {
  color: #243a18;
}

.view_more_button {
  text-align: center;
  margin-top: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.view_more_button a {
  text-decoration: none;
  background-color: #243a18;
  color: white;
  padding: 10px 24px 10px 24px;
  border-radius: 10px;
  opacity: 0.8;
}

.view_more_button a:hover {
  opacity: 1;
}

/* end feature section */

/* begin tag line section */
.index_container {
  height: 700px;
  width: 80%;
  background-image: linear-gradient(
      to right,
      rgba(31, 53, 28, 0.925),
      rgba(255, 255, 255, 0.5),
      rgb(255, 255, 255)
    ),
    url("/img/cabins.jpg");
  background-size: cover;
  /* background-image: linear-gradient(0.3turn, #1f351c, white, white); */
  margin-top: 50px;
  margin-left: 0;
}

.index_about_title {
  position: relative;
  right: 20%;
  top: 30%;
  font-family: "Mulish", sans-serif;
  letter-spacing: 10px;
  font-size: 160px;
  padding: 0;
  margin: 0;
  color: #efe6dd;
  text-shadow: 0px 8px 2px #3d3a3a;
}

.index_sub {
  position: relative;
  margin: 0;
  padding: 0;
  top: 30%;
  right: 20%;
  font-size: 50px;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.video_container {
  position: relative;
  left: 40%;
  top: -10%;
}

.learn_more_button a {
  position: relative;
  bottom: 70px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 2px solid black;
}

.learn_more_button a:hover {
  background-color: white;
  opacity: 0.8;
}

/* end tag line/video section */

/* begin footer */
.footer_box {
  position: absolute;
  margin-top: 50px;
  background-color: #efe6dd;
  height: 100px;
  width: 100%;
  margin-bottom: 0;
}

.copyright {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  /* margin-left: 25px;
  float: left; */
  top: 43px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

.footer_icons {
  padding: 0;
  margin: 0;
  position: relative;
  float: right;
  margin-right: 40px;
  font-size: 25px;
  top: 18px;
}

/* end footer */

/* contact page */

.contact_banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.651),
      rgba(255, 255, 255, 0.404)
    ),
    url("/img/cobble_stone.jpg");
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 16px;
  margin-bottom: 0;
}

.contact_title {
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
  bottom: 265px;
  font-family: "Amatic SC", cursive;
  font-size: 150px;
  color: white;
  font-weight: 700;
}

/* begin contact form / map */

.contact_box {
  background-color: #efe6dd;
  height: 565px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -130px;
  border-radius: 5px;
}

.contact_container {
  float: left;
  text-align: center;
  margin: 50px;
  padding: 20px;
  background-color: #243a18;
  width: 40%;
  height: 75%;
  border-radius: 5px;
}

.form_title {
  color: #efe6dd;
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  text-align: center;
  padding: 10px, 0px, 0px, 0px;
  margin: 0;
  font-weight: 400;
}

.form {
  margin: 10px;
  margin-top: 25px;
}

.input {
  font-family: "Raleway", sans-serif;
  width: 90%;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid white 1px;
}

.button {
  font-family: "Raleway", sans-serif;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -5px;
  margin-bottom: 0;
  border-radius: 25px;
  border: solid white 1px;
  color: white;
}

.button:hover {
  background-color: white;
  color: black;
}

.main {
  height: 500px;
  width: 100%;
}
